/*components*/
#youtube-icon {
  color: #ed3833; }

.search-input {
  order: 2;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.47); }

.displayed-video {
  width: 640px;
  height: 360px; }

/*flexbox grid layouts */
.container-one {
  display: flex; }

/*search box & title*/
.header-logo {
  flex: 1; }

.header-search {
  flex: 5; }

.container-two {
  display: flex;
  justify-content: center; }

/*currently displayed video*/
.displayed-content {
  flex: 2; }

/*list of all videos returned from search*/
.video-list {
  flex: 1; }
