/*components*/
#youtube-icon {
  color: #ed3833; }

.search-input {
  order: 2;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.47); }

.displayed-video {
  width: 854px;
  height: 540px; }

.displayed-info {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.19);
  border-radius: 5px;
  padding: 20px; }

.displayed-title {
  font-weight: bold; }

.video-list-container {
  border: 1px solid rgba(128, 128, 128, 0.19);
  border-radius: 5px; }

.app {
  margin: 20px; }

/*flexbox grid layouts */
.container-one {
  display: flex;
  height: 56px;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.19); }

/*search box & title*/
.header-logo {
  flex: 1; }

.header-search {
  flex: 9; }

.container-two {
  display: flex;
  align-items: center;
  margin: 20px; }

/*currently displayed video*/
.displayed-content {
  flex: 5;
  margin-right: 20px; }

/*list of all videos returned from search*/
.video-list {
  flex: 1;
  list-style-type: none;
  margin-bottom: 10px; }

.video-list-items {
  display: flex; }

/*video-list information*/
.item-two {
  margin-left: 20px;
  font-weight: bold;
  width: 50%; }
