@import "./Variables.scss";

/*components*/
@import "./Header.scss";
@import "./SearchBar.scss";
@import "./VideoDetail.scss";
@import "./VideoList.scss";
@import "./VideoListItem.scss";

.app {
  margin: 50px;
}

/*flexbox grid layouts */
.container-one {
  display: flex;
}

/*search box & title*/
.header-logo {

}

.header-search {

}

.container-two {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
}

/*currently displayed video*/
.displayed-content {
  flex: 5;
}

/*list of all videos returned from search*/
.video-list {
  flex: 1;
}