.displayed-video {
  width: 854px;
  height: 540px;
}

.displayed-info {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.19);
  border-radius: 5px;
  padding: 20px;
}

.displayed-title {
  font-weight: bold;
}